In [4]:
x = 3

In [5]:
type(x)

int

In [6]:
x = 5.2

In [7]:
type(x)

float

In [8]:
x ="string"

In [9]:
type(x)

str

# Variable Declaration & Printing

In [10]:
var1 = 2
var2 = 5.7

In [11]:
var1

2

In [12]:
var2

5.7

In [13]:
type(var1)

int

In [14]:
type(var2)

float

In [15]:
# printing the value
print (var1)

2

In [16]:
print (var2)

5.7

In [17]:
mystring= "MLAP SESSION"

In [18]:
mystring1="This is 6th session"

In [19]:
print(mystring)

MLAP SESSION

In [20]:
print(mystring1)

This is 6th session

## Operations in Python

In [21]:
var1+var2

7.7

In [22]:
var1*var2

11.4

In [23]:
var1 == 2

True

In [24]:
var1==var2

False

### Built in functions

In [25]:
round(2.6547)

3

In [26]:
round(2.6475,2)

2.65

In [27]:
import math

In [28]:
math.ceil(1.2)

2

In [29]:
math.floor(1.2)

1

In [30]:
pow (var1,4)

16

In [31]:
#generate sequence

In [32]:
num = range(1,10)

In [33]:
num

range(1, 10)

In [34]:
type(num)

range

In [35]:
for i in num:
    print (i)

1
2
3
4
5
6
7
8
9

In [36]:
len (num)

9

In [37]:
for i in num:
        print (i, end = "") # print horizontally

123456789